.main0 {
    background: rgb(44, 6, 6);
    background: linear-gradient(0deg, rgb(44, 6, 6) 0%, rgba(0,0,0,1) 40%);
    min-height: 100vh;
  }
  .main1 {
    top: 35%;
    left: 50%;
    transform: translate(-50%, -35%);
    position: absolute;
    width: 80%;
    height: 80%;
    text-align: center;
  }
  .lab1 {
    margin-bottom: 50px;
  }
  .lab2 {
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
    color: #ffffff;
  }
  .lab3 {
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
    color: #6e6e6e;
  }
  .lab4 {
    font-family:'Courier New', Courier, monospace;
    font-size: 13px;
    color: #6e6e6e;
  }
  .lab5 {
    margin-top: 50px;
  }
  .name0 {
    margin: auto;
    width: 40%;
    text-align: center;
    display: flex;
    opacity: 0;
    transition: 5s all;
  }

  .name1 {
    text-transform: capitalize;
    width: 80%;
    height: 30px;
    cursor: pointer;
    border-image-slice: 1;
    border-width: 1px; 
    background: transparent;
    font-family: monospace;
    font-size: 10px;
    margin: 10px;
    border-image-source: linear-gradient(to left, #9b0404, #000000);
    color: #ffffff;
    outline: none;
    transition: 5s all;
  }

  .name2 {
    width: 20%;
    height: 30px;
    cursor: pointer;
    border-width: 1px;
    border-color: #9b0404;
    background: transparent;
    font-family: monospace;
    font-size: 10px;
    margin: 10px;
    color: #ffffff;
    transition: 5s all;
  }

  .butt0 {
    transition: 5s all;
    margin: auto;
    width: 40%;
    text-align: center;
    display: none;
    opacity: 0;
    
  }
  .butt1 {
    width: 70%;
    height: 30px;
    cursor: pointer;
    background: transparent;
    font-family: monospace;
    font-size: 10px;
    margin: 10px;
    transition: all 5s ease;
    border-width: 1px;
    border-color: #9b0404;
    color: #ffffff;
    pointer-events: none;
    opacity: 0.7;
  }

  @media (max-width: 800px) {
    .main1 {
      width: 100%;
    }
    .name0 {
      width: 60%;
    }
    .butt0 {
      width: 60%;
    }
  }

  @media (max-width: 600px) {
    .name0 {
      width: 80%;
    }
    .lab3 {
      font-size: 15px;
    }
    .butt0 {
      width: 80%;
    }
  }

  @media (max-width: 400px) {
    .lab3 {
      font-size: 13px;
    }
  }